@*@model IEnumerable<Products_ScafPag.Models.Product>*@
@model PagedList.IPagedList<Products_ScafPag.Models.Product>
@using PagedList.Mvc;
@{
    /**/

    ViewBag.Title = "Products";
}

<h2>@ViewBag.Tit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Producer
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Category
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, pageSize = Model.PageSize}))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products
</div>


<div>
    @Html.ActionLink("Category", "../Categories/index")
</div>
